Repository Atakanclkoglu/car-rental-microservices: changes, and which Jenkins stages are due for each by the changed paths.
All: Build & Dockerize Booking-Service, Build & Dockerize User-Service, Build & Dockerize Car-Service

Build & Dockerize Booking-Service:
              steps {
                  echo 'Booking-service klasöründe değişiklik yapıldı, imaj oluşturuluyor...'
                  sh 'docker build -t atakandockerdevops/booking_service:latest -f booking_service/Dockerfile booking_service'
  ...

Build & Dockerize User-Service:
              steps {
                  echo 'User-service klasöründe değişiklik yapıldı, imaj oluşturuluyor...'
                  sh 'docker build -t atakandockerdevops/user_service:latest -f user_service/Dockerfile user_service'
  ...

Build & Dockerize Car-Service:
              steps {
                  echo 'Car-service klasöründe değişiklik yapıldı, imaj oluşturuluyor...'
                  sh 'docker build -t atakandockerdevops/car_service:latest -f car_service/Dockerfile car_service'
  ...

Rezervasyon sayfası Düzeltildi
  booking_service/main.py
Due: Build & Dockerize Booking-Service

Veriler Yüklendi ve Search Özelliği Eklendi
  booking_service/__pycache__/main.cpython-311.pyc
  booking_service/main.py
  car_service/__pycache__/main.cpython-311.pyc
  car_service/__pycache__/models.cpython-311.pyc
  car_service/__pycache__/schemas.cpython-311.pyc
  car_service/cars.json
  car_service/load_cars.py
  car_service/main.py
  car_service/models.py
  car_service/schemas.py
  docker-compose.yml
Due: Build & Dockerize Booking-Service, Build & Dockerize Car-Service

ElasticSearch ayarlamaları yapıldı
  car_service/__pycache__/main.cpython-311.pyc
  car_service/index_cars.py
  car_service/main.py
  car_service/requirements.txt
Due: Build & Dockerize Car-Service

Kafka Consumer ve Producer ayarları yapıldı
  booking_service/__pycache__/main.cpython-311.pyc
  booking_service/main.py
  booking_service/requirements.txt
Due: Build & Dockerize Booking-Service

Servislere Redis Eklendi
  booking_service/__pycache__/database.cpython-311.pyc
  booking_service/__pycache__/main.cpython-311.pyc
  booking_service/database.py
  booking_service/main.py
  booking_service/requirements.txt
  car_service/__pycache__/main.cpython-311.pyc
  car_service/main.py
  car_service/requirements.txt
Due: Build & Dockerize Booking-Service, Build & Dockerize Car-Service

Path conditions:
  Build & Dockerize Booking-Service: any of: booking_service/**
  Build & Dockerize User-Service: any of: user_service/**
  Build & Dockerize Car-Service: any of: car_service/**
